@media only screen and (max-width: 768px) {
  .titulo {
    color: rgb(46, 0, 57);
  }
  .card {
    background-color: rgb(46, 0, 57);
    color: white;
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 65px;
  }

  input[type="number"] {
    background-color: rgb(46, 0, 57);
    color: white;
    text-decoration: underline;
    border: none;
  }

  select {
    background-color: rgb(46, 0, 57);
    color: white;
    text-decoration: underline;
    border: none;
  }

  button {
    background-color: rgb(46, 0, 57);
    color: white;
    border: none;
  }

  .first {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }

  .selectConver {
    width: 70vw;
    text-align: left;
  }

  .inputNumber {
    width: 70vw;
    text-align: right;
  }

  .saved {
    background-color: #e3e3e3;
    color: #6f6f6f;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
  }

  .saved-text {
    color: #6f6f6f;
  }

  .saved button {
    background-color: #e3e3e3;
    color: #6f6f6f;
  }

  footer {
    background-color: rgb(46, 0, 57);
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 39px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .main-content {
    margin-bottom: 51px;
  }
}

@media only screen and (min-width: 768px) {
  .titulo {
    color: rgb(46, 0, 57);
  }
  .card {
    background-color: rgb(46, 0, 57);
    color: white;
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 65px;
    width: 717px;
    justify-content: center;
  }

  input[type="number"] {
    background-color: rgb(46, 0, 57);
    color: white;
    text-decoration: underline;
    border: none;
    font-size: 1.2em;
  }

  select {
    background-color: rgb(46, 0, 57);
    color: white;
    text-decoration: underline;
    border: none;
    font-size: 1.2em;
  }

  button {
    background-color: rgb(46, 0, 57);
    color: white;
    border: none;
    font-size: 1.4em;
    height: 0.5m;
  }

  .selectConver {
    width: 16vw;
    text-align: left;
  }

  .inputNumber {
    width: 16vw;
    text-align: right;
  }

  /* .form {
    display: flex;
    flex-wrap: wrap;
  } */

  .pc-first {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    margin-top: 15px;
  }

  .second {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  .saved {
    background-color: #e3e3e3;
    color: #6f6f6f;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    width: 340px;
  }

  .saved-text {
    color: #6f6f6f;
  }

  .pc-saved {
    width: 760px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex: 0 1 50%;
  }

  .saved button {
    background-color: #e3e3e3;
    color: #6f6f6f;
  }

  footer {
    background-color: rgb(46, 0, 57);
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 39px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .main-content {
    margin-bottom: 51px;
  }
}
